<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/home.css" />
        <title>Home page</title>
    </head>
    <body>
        <%- include('partials/header') %>
        <%- include('partials/navbar') %>
        <main>
            <h1>Welcome to Football Team Management</h1>
            <p>
                This is a simple web application that allows you to manage football teams and players.
            </p>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>
