<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team page</title>
    <link rel="stylesheet" href="/css/team.css">
</head>
<body>
    <header>
        <h1>Football Team Management</h1>
        <nav>
            <ul>
                <li><a  href="/">Home</a></li>
                <li><a href="/team" class="active">Team</a></li>
                <li><a href="#player">Player</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#news">News</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/create-team" method="POST">
            <button class="btnAdd">
                <span>Add new team</span>
            </button>
        </form>
        
    </main>
</body>
</html>