<nav class="main-nav">
  <ul class="nav-list">
    <li><a class="nav-link active" href="/">Home</a></li>
    <li><a class="nav-link" href="/team">Team</a></li>
    <li><a class="nav-link" href="#player">Player</a></li>
    <li><a class="nav-link" href="#about">About</a></li>
    <li><a class="nav-link" href="#news">News</a></li>
  </ul>
</nav>
